.search-component{
    margin-top:6rem;
    z-index: 2;
}

.image-food{
    display: inline-block;
    margin-left:15% ;
    z-index: -1;
    position: fixed;
    width: 70%;
    height: 40rem;
    top:7rem;
    object-fit: cover;

}