.cart-component-cart-symbol {
    height: 50px;
    width: 50px;
    text-align: center;
    object-fit: cover;
}

.cart-component-cart-symbol-container{
    background-color: #cccccc;
    border-bottom:2px solid #9a6f43;
}

.cart-rest-name{
    text-align: center;
}

.cart-container{
    background-color: transparent;
    border: 2px groove #cccccc;
    border-radius: 0;
    margin-top: 2rem;
}

.cart-title{
}