.button-find {
    border: 1px solid #ccc;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0;
    height: 100%;
}

.button-show-all {
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 0;
}

.select-search > .Select-control {
    border-radius: 0;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.image-food{
    display: inline-block;
    z-index: -1;
    position: fixed;
    width: 100%;
    height:30rem;
    top:7rem;
    object-fit: cover;

}

.search-wrapper{
}

.search-component{
    z-index: 2;
    margin-top:20rem;
}