.button-find {
    border: 1px solid #ccc;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0;
    height: 100%;
    width: 50%;
    color: black;
    font-size: 16px;
}

.button-show-all {
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 0;
    width: 50%;
    font-size: 16px;
    color: black;
}

.select-search > .Select-control {
    border-radius: 0;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.image-food {
    display: inline-block;
    z-index: -1;
    position: absolute;
    width: 45%;
    height: 35rem;
    top: 6.8rem;
    left: 50%;
}

.image-food:first-child {
    left: 0;
    margin-left: 5%;
}

.search-wrapper {
}

.search-component {
    z-index: 2;
    margin-top: -9rem;
    margin-bottom: 15rem;
    margin-right: 1rem;
    font-size: 16px;
    color: black;
}