.button-find {
    border: 1px solid #ccc;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0;
    height: 100%;
    width: 50%;
    color: black;
    font-size: 16px;
}

.button-show-all {
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 0;
    width: 50%;
    font-size: 16px;
    color: black;
}

.select-search > .Select-control {
    border-radius: 0;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.image-food {
    display: inline-block;
    z-index: -1;
    position: absolute;
    width: 45%;
    height: 35rem;
    top: 6.8rem;
    left: 50%;
}

.image-food:first-child {
    left: 0;
    margin-left: 5%;
}

.search-wrapper {
}

.search-component {
    z-index: 2;
    margin-top: -2rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    font-size: 16px;
    color: black;
}

.main-images-container {
    margin-left: 2.5%;
    z-index: 5;
    position: absolute;
    width: 90%;
    height: 27rem;
    top: 6.8rem;
    background: -moz-linear-gradient(top, rgba(5, 3, 3, 0.6) 1%, rgba(203, 235, 255, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(5, 3, 3, 0.6) 1%, rgba(203, 235, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(5, 3, 3, 0.6) 1%, rgba(203, 235, 255, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99050303', endColorstr='#00cbebff', GradientType=0); /* IE6-9 */
}

@media (max-width: 767px) {
    .image-food {
        height: 25rem;
    }

    .main-images-container {
        height: 19rem;
    }

    .main-images-container {
        margin-top: -18rem;
        margin-bottom: 2rem;
    }
}
