.restaurant-item-restaurant-logo {
    height: 20rem;
    width: 20rem;
}

.restaurant-item-container {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: solid 1px;
}

.restaurant-item-container:hover {
    background-color: silver;
    cursor: pointer;
}

.restaurant-item-restaurant-name {
    margin-top: 4rem;
    font-size: 22px;
}

.restaurant-item-restaurant-phone {
    font-size: 18px;
    margin-top: 6rem;
}

.restaurant-item-delivery-time {
    font-size: 16px;
    margin-top: 6.5rem;
}

.restaurant-item-min-order {
    font-size: 16px;
    margin-top: 4rem;
}

.restaurants-item-rating {
    margin-top: 4rem;
}

.restaurant-item-view {
    margin-top: 6rem;
    border-radius: 15px;
}