.facebook-icon {
    background-image: url("../../../assets/img/facebook-icon.jpg");
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.page-footer-container {
    padding-bottom: 35px;
    background-color: black;
}

.follow-us {
    padding-bottom: 20px;
    color: white;
    margin: 0 auto;
    text-align: center;
}

.about-us-container {
    padding-left: 10px;
    display: inline-block;
    margin: 0 auto;
    width: 40%;
    color: white;
}

.follow-us-container {
    display: inline-block;
    width: 20%;
    float: right;
    margin-right: 10px;
    margin-top: 35px;
}

.about-us-string {
    font-size: 16px;
}

.news-letter-container {
    margin-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid gray;
}

@media (max-width: 778px) {
    .about-us-container {
        width: 100%
    }

    .follow-us-container {
        display: block;
        width: 100%;
        float: none;
    }
}