body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    padding-top: 4.571em;
    background-color: rgb(47, 52, 61);
}

.no-padding {
    padding: 0;
}

.no-margins {
    margin: 0;
}

.no-border{
    border:0
}

.no-border-radius{
    border-radius: 0;
}
.border-1px{
    border: 1px;
}

.margin-top-by-3rem{
    margin-top: 3rem;
}
