body {
    margin: 0;
    font-family: sans-serif;
    padding-top: 4.571em;
    background-color: #e6ede8;
    color: #414c44;
}

.no-padding {
    padding: 0;
}

.no-margins {
    margin: 0;
}

.no-border {
    border: 0
}

.no-border-radius {
    border-radius: 0;
}

.border-1px {
    border: 1px;
}

.margin-top-by-3rem {
    margin-top: 3rem;
}

.text-align-center {
    text-align: center;
}

.body-container {
    padding-top: 4rem;
    padding-right: 4rem;
    padding-left: 4rem;
    background: white;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.pointer-cursor{
    cursor: pointer;
}

.no-margin-right{
    margin-right: 0;
}

.padding-bottom-2rem{
    padding-bottom: 2rem;
}

.white-background{
    background-color: white;
}