.customer-container {
    padding-right: 5rem;
    padding-left: 5rem;
    min-height: 500px;
}

@media (max-width: 767px) {
    .customer-container {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}